@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap');



body{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif', serif;
}
.card-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 40%;
    display: flex;
    border: 1px solid gray;
    margin: 10px;
    border-radius: 15px;
    justify-content: space-between;
}

.card-img{
    border-radius: 15px;
}

.left{
    display: flex;
}